<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sqlConnection" connectionString="Data Source=AGUL\SQLEXPRESS;Initial Catalog=LibraryDB;User Id=sa;Password=sa"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
      
    </startup>
</configuration>