<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="sqlConnection" connectionString="Data Source=DESKTOP-8F60V4M\MA;Initial Catalog=LibraryDB;User Id=sa;Password=123456" />
    <add name="LibraryMS.Properties.Settings.LibraryDBConnectionString"
      connectionString="Data Source=WIN-RQEIPQ15UPF;Initial Catalog=LibraryDB;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
      
    </startup>
</configuration>